extends ../template

block head

block content
 .col-sm-6
  .signup-form
   h2 Login to your account
   p= (message == null ? '': message)
   form(method='post', action='/account/login')
    input(placeholder='Username', type='text', name='username', required='required')
    input(placeholder='Password', type='password', name='password', required='required')
    button.btn.btn-default(type='submit') Login